.sr-app {
  &-scene {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

  &-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgba(243, 150, 154, 0.5);
    overflow-y: auto;
  }
}
