// Imported styles
@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

html,
body {
  height: 100vh;
  overflow: hidden;
}

body > div {
  height: 100vh;
  overflow-y: auto;
}
