// Imported styles
@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

// Component styles
@import "components/App";
@import "components/ColorPicker";
@import "components/Loader";
@import "components/Sidebar";

html,
body {
  height: 100vh;
  overflow: hidden;
  background-color: #f3969a;
}

body > div {
  height: 100vh;
  overflow-y: auto;
}
