$primary: #f086a9;
$secondary: #a95c75;
$white: #fff;
$form-select-bg: $primary;
$form-select-color: $white;
$form-select-indicator-color: $white;
$tooltip-bg: #713146;

// Imported styles
@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

// Component styles
@import "components/App";
@import "components/ColorPicker";
@import "components/Loader";
@import "components/Sidebar";

html,
body {
  height: 100vh;
  overflow: hidden;
  background-color: $secondary;
}

body > div {
  height: 100vh;
  overflow-y: auto;
}
